/*Artur Alves*/
/*Código desenvolvido para aprendizado*/
/*CSS é usado para dar um style na página*/
/*É preciso informar no html que tem que olhar para um CSS que está em outro arquivo. usa o link lá no html*/


/*body você consegue definir qual a característica do seu body no html*/

body{
    background-image:url("background.jpg"); /*Definindo uma imagem como plano de fundo.*/
    
    color: whitesmoke;
    margin-left: 150px; /*Definição de margem*/
    margin-right: 150px;  
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    color: black;
  }
  * {box-sizing: border-box;}
  .wrapper {
      border: 2px black;
      border-radius: 5px;
      background-color: rgb(165, 191, 199); /*É possível definir de acordo com o código RGB da cor. >> https://htmlcolorcodes.com - site com codigos hexadecimais das cores*/
  }
  .wrapper > div {
      border: 2px solid #ffa94d;
      border-radius: 5px;
      background-color: #ffd8a8;
      padding: 1em;
      color: #d9480f;
  }
  .nested {
      border: 2px solid #ffec99;
      border-radius: 5px;
      background-color: #fff9db;
      padding: 1em;
  }
      

header{
    margin-bottom: 100px;
    text-align: center; /*Usado para centralizar o elemento.s*/
}

h1{
    color:whitesmoke; /*Consigo definir as cores de cada elemento do site*/
    font-family: 'Franklin Gothic Medium'; /*Definição da fonte do título h1*/
}

h2{
    color:whitesmoke; /*Consigo definir as cores de cada elemento do site*/
    font-family: 'Franklin Gothic Medium';
}

.rodape{
    display: grid;
}
    * {box-sizing: border-box;}

footer{
    text-align: center;
    background-color: rgb(165, 191, 199);
    margin-bottom: 100px;
    margin-top: 100px;
    color:black;
}

.img_logo{
    margin-left: 35px;
}

p{
    font-size: 18px;  /*Defini o tamanho das letras no elemento p*/
}